// -----
// Color
// -----
$c-black01: #111;
$c-white01: #fff;
$c-navy01: #3667a0;
$c-gray01: #f4f4f4;
$c-red01: #d5525f;
// -----
// Font
// -----
$f-notoSans: 'Noto Sans JP', sans-serif;
$f-roboto: 'Roboto', sans-serif;

// -----
// UI
// -----
$ui-radius: 15px;
$ui-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
// -----
// Viewport Size
// -----
$vp-pc-m: 1200px;
$vp-pc-s: 960px;
$vp-tab: 768px;
$vp-sp: 560px;

$colors: (
  black01: #111,
  gray01: #f4f4f4,
  gray01-transparent: rgba(210, 210, 210, 0.5),
  lightGray01: #f1f5f9,
  white01: #fff,
  navy01: #3667a0,
  navy01-transparent: rgba(54, 103, 160, 0.3),
  red01: #d5525f,
  red01-transparent: rgba(213, 82, 95, 0.3),
);

$ui: (
  radius: 15px,
  shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
);

$breakpoint: (
  pc-m: 1200px,
  pc-s: 960px,
  tab: 768px,
  sp: 560px,
);
// -----
// mixin
// -----
@mixin fontJp($size: 16px, $weight: 400) {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: $size;
  font-weight: $weight;
}
@mixin fontEn($size: 16px, $weight: 400) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: $weight;
}
@mixin glassmor {
  border-radius: map-get($ui, radius);
  box-shadow: map-get($ui, shadow);
  background: linear-gradient(
    135deg,
    rgba(255, 2552, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(10px);
}
@mixin neumorphism {
  border-radius: 20px;
  background: map-get($colors, gray01);
  box-shadow: 6px 6px 12px map-get($colors, navy01-transparent),
  -6px -6px 12px #fff;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-image: linear-gradient(130deg, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 75%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  &:hover::before {
    left: 100%;
  }
}
@mixin linkButton {
  a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 0;
    min-width: 180px;
    text-align: center;
    border-radius: 15px;
    background: map-get($colors, navy01);
    color: map-get($colors, white01);
    transition: 0.3s;
    border: 1px solid map-get($colors, navy01);
    &:hover {
      background: map-get($colors, white01);
      color: map-get($colors, navy01);
    }
  }
}
// -----
// media query
// -----
@mixin mq($bp) {
  $bp-value: map-get($breakpoint, $bp);
  @media (max-width: $bp-value) {
    @content;
  }
}

@mixin vp-pc-m {
  @media screen and (max-width: ($vp-pc-m)) {
    @content;
  }
}
@mixin vp-pc-s {
  @media screen and (max-width: ($vp-pc-s)) {
    @content;
  }
}
@mixin vp-tab {
  @media screen and (max-width: ($vp-tab)) {
    @content;
  }
}
@mixin vp-sp {
  @media screen and (max-width: ($vp-sp)) {
    @content;
  }
}

@mixin contentsBody($mx: 32px, $width: $vp-tab) {
  width: min(100% - $mx, $width);
  margin: 0 auto;
  @include vp-sp {
    width: min(100% - 32px, $width);
  }
}
