@use 'variables.scss' as *;
.menuOpen {
  display: block;
}
.menuClosed {
  display: none;
}

.menuButton {
  display: none;
  padding: 5px;
  background: linear-gradient(
    -125deg,
    map-get($colors, white01) 1%,
    map-get($colors, orange01)
  );
  border: none;
  svg {
    stroke: map-get($colors, black02);
  }
  @include vp-tab {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 11111;
  }
}

.gnav {
  width: 100%;
  min-height: 100vh;
  padding-block: 40px;
  padding-inline: 20px;
  background: map-get($colors, navy02);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
.gnavMain {
  margin-block-end: 40px;
  .gnavMainItem {
    margin-block-end: 20px;
    &:last-child {
      margin-block-end: 0;
    }
    .gnavMainItem__link {
      color: map-get($colors, white01);
    }
  }
}
.gnavSub {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  .gnavSubItem {
    width: 60px;
  }
}
