@use 'variables.scss' as *;
.heroContainer {
  height: 240px;
  display: grid;
  place-content: center;
  .title {
    @include fontEn($size: 24px, $weight: bold);
    position: relative;
    z-index: -11;
    .main {
      font-size: 32px;
      display: block;
    }
  }
}
