@use 'variables.scss' as *;


.skillBox {
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 0;
  }
  .skillTitle {
    margin-bottom: 20px;
    @include fontEn($size: 24px,$weight: 500);
  }
}
.skillList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @include mq(tab) {
    gap: 20px;
  }

  .skillItem {
    width: calc((100% - (30px * 4)) / 5);
    padding: 20px;
    @include glassmor;
    background: map-get($colors, navy02);
    cursor: pointer;
    &:hover {
      @include hoverScale;
    }
    @include mq(tab) {
      width: calc((100% - (20px * 2)) / 3);
    }
    .skill__name {
      margin-bottom: 5px;
      @include fontEn($weight: 500);
      font-size: 12px;
      text-align: center;
    }
  }
}



.skill__circle {
  width: 60px;
  margin: 0 auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  &:hover .num {
    opacity: 1;
  }
  .num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: map-get($colors, black01);
    color: map-get($colors, white01);
    padding: 5px;
    line-height: 1;
    opacity: 0;
    transition: 0.3s;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 4px;
  }
}


