@use 'variables.scss' as *;
.footer {
  margin-top: 80px;
  padding: 10px 0;
  background: map-get($colors, navy01);
  .container {
    text-align: center;
    .copy {
      font-size: 10px;
      color: map-get($colors, white01);
    }
  }
}
