@use 'variables.scss' as *;
.footer {
  margin-top: 80px;
  padding: 10px 0;
  .container {
    text-align: center;
    .copy {
      @include fontEn($size: 10px);
      color: map-get($colors, white01);
    }
    .navi {
      margin-block-end: 5px;
      .link {
        width: fit-content;
        margin-inline: auto;
        @include fontEn($size: 10px);
        border-bottom: 1px solid map-get($colors, white01);
        color: map-get($colors, white01);
      }
    }
  }
}
