@use 'variables.scss' as *;

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.thumbnail {
  margin: 0 auto 60px;
  .thumbnailImg {
    border-radius: 15px;
    box-shadow: map-get($ui, shadow);
  }
}
.commonIcon {
  width: 14px;
  .iconImg {
    fill: map-get($colors, navy01);
  }
}
.info {
  margin-bottom: 40px;
  .date {
    display: inline-block;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    @include fontEn($size: 14px, $weight: 500);
  }
  .linkText {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    .url {
      @include fontEn($size: 14px, $weight: 500);
    }
  }
  .pf {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    @include fontJp($size: 14px, $weight: 500);
  }
  .tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    .tagListItem {
      display: inline-block;
      padding: 4px 10px;
      background: map-get($colors, navy01-transparent);
      border-radius: 4px;
      @include fontEn($size: 12px, $weight: 500);
    }
  }
}
  .mockupImg {
    width: 100%;
  }
  .mockupImg {
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: map-get($ui, shadow);
  }
.detail {
  margin-bottom: 80px;
  line-height: 2;
}
.linkButton {
  text-align: center;
}
