@use 'variables.scss' as *;

.title {
  font-size: 24px;
  margin-bottom: 40px;
}

.thumbnail {
  margin: 0 auto 60px;
  .thumbnailImg {
    border-radius: 15px;
    box-shadow: map-get($ui, shadow);
  }
}
.commonIcon {
  width: 14px;
  .iconImg {
    fill: map-get($colors, navy01);
  }
}
.info {
  margin-bottom: 80px;
  .date {
    display: inline-block;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    @include fontEn($size: 14px, $weight: 500);
  }
  .linkText {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    .url {
      @include fontEn($size: 14px, $weight: 500);
    }
  }
  .pf {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    @include fontJp($size: 14px, $weight: 500);
  }
  .tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    .tagListItem {
      display: inline-block;
      padding: 4px 10px;
      background: map-get($colors, navy01-transparent);
      border-radius: 4px;
      @include fontEn($size: 12px, $weight: 500);
    }
  }
}
.mockupImg {
  width: 100%;
}
.mockupImg {
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: map-get($ui, shadow);
}
.detail {
  margin-bottom: 80px;
  line-height: 2;
  h3 {
    margin-bottom: 40px;
    font-size: 24px;
    padding: 10px 20px;
    background: map-get($colors, navy01-transparent);
    border-radius: 5px;
  }
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
    font-size: 18px;
    padding-left: 12px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 4px;
      height: 100%;
      background: map-get($colors, navy01);
      border-radius: 10px;
    }
  }
  ul {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    li {
      position: relative;
      padding-left: 20px;
      &::before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: map-get($colors, navy01);
        position: absolute;
        top: 14px;
        left: 4px;
      }
    }
  }
  p {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    border-bottom: 1px solid map-get($colors, navy01);
    color: map-get($colors, navy01);
    font-weight: 500;
  }
  blockquote {
    margin-bottom: 40px;
  }
}

.linkButton {
  margin-top: 60px;
  text-align: center;
  @include linkButton;
}
