@use 'variables.scss' as *;

.zennBg {
  padding-block: 100px;
  border-image-source: linear-gradient(
    map-get($colors, black02),
    map-get($colors, black02)
  );
  border-image-slice: 0 fill;
  border-image-outset: 0 100vw;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  @include mq(tab) {
    gap: 20px;
  }
}
.listItem {
  width: calc((100% - (40px * 2)) / 3);
  @include mq(tab) {
    width: calc((100% - (20px * 1)) / 2);
  }
  @include mq(sp) {
    width: 100%;
    margin-block-end: 20px;
    &:last-child {
      margin-block-end: 0;
    }
  }
  .link {
    display: block;
    height: 100%;
    border-radius: map-get($ui, radius);
    background: map-get($colors, navy02);
    overflow: hidden;
    color: map-get($colors, white01);
    .inner {
      padding: 20px;
      .title {
        font-size: 14px;
        text-align: center;
        margin-block-end: 20px;
      }
      .date {
        display: block;
        width: fit-content;
        margin-inline: auto;
        @include fontEn($size: 12px, $weight: 400);
        text-align: center;
      }
    }
  }
}
