@use 'variables.scss' as *;

.zennBg {
  padding: 100px 0;
  border-image-source: linear-gradient(map-get($colors, lightGray01),map-get($colors, lightGray01));
  border-image-slice: 0 fill;
  border-image-outset: 0 100vw;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  @include mq(tab) {
    gap: 15px;
  }
}
.listItem {
  width: calc((100% - (40px * 2)) / 3);
  @include mq(tab) {
    width: calc((100% - (15px * 1)) / 2);
  }
  .link {
    display: block;
    .title {
      font-size: 14px;
      margin-bottom: 20px;
    }
    .date {
      @include fontEn($weight: 500);
    }
  }
}
