@use 'variables.scss' as *;
.header {
  padding: 0 40px;
  margin: 0 auto;
}

.headerTitle {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: $f-roboto;
  letter-spacing: 0.2em;
}

.fixedMenu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  .fixedMenu__link {
    width: 70px;
    height: 70px;
    @include fontEn($size: 14px, $weight: bold);
    @include glassmor;
    display: grid;
    place-content: center;
    transition: 0.3s;
    &:hover {
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    }
  }
}
