@use 'variables.scss' as *;
.header {
  padding-inline: 0 40px;
  margin-inline: auto;
}

.headerTitle {
  font-size: 32px;
  margin-block-end: 20px;
  font-family: $f-roboto;
  letter-spacing: 0.2em;
}

.fixedMenu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  .fixedMenu__link {
    width: 60px;
    height: 60px;
    @include fontEn($size: 14px, $weight: bold);
    @include glassmor;
    display: grid;
    place-content: center;
    transition: 0.3s;
    color: map-get($colors, black02);
    background: linear-gradient(
      -125deg,
      map-get($colors, white01) 1%,
      map-get($colors, orange01)
    );
    &:hover {
      @include hoverScale;
    }
  }
}
