@use 'variables.scss' as *;
.container {
  @include contentsBody($width: map-get($breakpoint, pc-s));
}

.desc {
  margin-bottom: 60px;
  text-align: center;
  @include fontEn($size: 24px, $weight: 500);
}
.linkButton {
  text-align: center;
}
