@use 'variables.scss' as *;
.container {
  @include contentsBody($width: map-get($breakpoint, tab));
  min-height: 50vh;
  display: grid;
  place-content: center;
}

.desc {
  text-align: center;
  line-height: 2.4;
  margin-bottom: 100px;
}
.linkButton {
  text-align: center;
}
