@use 'variables.scss' as *;
.container {
  @include contentsBody($width: map-get($breakpoint, tab));
  min-height: 60vh;
  display: grid;
  place-content: center;
}

.title {
  width: fit-content;
  padding-block-end: 2px;
  margin-inline: auto;
  margin-block-end: 20px;
  border-block-end: 1px solid map-get($colors, white01);
  font-size: 22px;
  text-align: center;
}
.desc {
  margin-block-end: 100px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 2.4;
}
.linkButton {
  text-align: center;
}
