@use 'variables.scss' as *;

.errorPage {
  @include contentsBody($width: map-get($breakpoint, tab));
  min-height: 50vh;
  display: grid;
  place-content: center;
  .title {
    margin-block-end: 40px;
    text-align: center;
    @include fontEn($size: 24px, $weight: bold);
  }
  .desc {
    margin-block-end: 100px;
    text-align: center;
    line-height: 2.4;
  }
}

.linkButton {
  text-align: center;
}
