@use 'variables.scss' as *;
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-top: 24px;
}
.list {
  margin: 0 4px;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: $c-gray01;
  border-radius: 2px;
}
.current {
  font-weight: bold;
  background: $c-navy01;
  color: $c-white01;
}