@use 'variables.scss' as *;

.pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 10px;
  .pagenationItem {
    .num {
      display: grid;
      place-content: center;
      width: 36px;
      height: 36px;
      border: 2px solid map-get($colors, navy02);
      border-radius: 2px;
      @include fontEn($weight: 500);
      color: map-get($colors, white01);
      &:hover {
        border-color: map-get($colors, navy01-transparent);
      }
    }
    .current {
      font-weight: bold;
      background: map-get($colors, navy01);
      color: $c-white01;
      border: none;
      &:hover {
        background: map-get($colors, navy01);
        color: map-get($colors, white01)
      }
    }
  }
}
