@use 'variables.scss' as *;

.tabList {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  width: min(100%, 560px);
  margin: 0 auto 40px;
  .tabButton {
    padding: 15px 40px;
    border-radius: 5px;
    @include fontEn($size: 20px, $weight: bold);
    letter-spacing: .1em;
    border:2px solid map-get($colors, navy01);
  }
}
