@use 'variables.scss' as *;

.tabList {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  width: min(100%, 560px);
  margin-inline: auto;
  margin-block: 40px;
  .tabButton {
    padding-inline: 40px;
    padding-block-end: 15px;
    letter-spacing: 0.1em;
    border-radius: map-get($ui, radius);
    background: linear-gradient(
      45deg,
      map-get($colors, orange01),
      map-get($colors, orange02) 100%
    );
    border: none;
    position: relative;
    &::after {
      content: '';
      display: block;
      inset: 2px;
      position: absolute;
      border-radius: map-get($ui, radius);
      background: map-get($colors, navy02);
    }
    .jp {
      @include fontEn($size: 18px, $weight: 500);
      position: relative;
      z-index: 1;
    }
  }
}
