@use 'variables.scss' as *;

.hovered {
  opacity: 0.3 !important;
  visibility: visible !important;
  transition: 0.3s;
  animation: scale 0.3s ease-in-out;
  z-index: 1;
}
@keyframes scale {
  0% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.thumbnailNone {
  width: 100%;
  height: 240px;
  padding-block: 20px;
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  object-fit: contain;
  z-index: -1;
  background: map-get($colors, white01);
}
.thumbnail {
  margin-block-end: 20px;
  overflow: hidden;
  border-radius: map-get($ui, radius);
  border: 1px solid map-get($colors, gray01);
  .thumbnailImg {
    aspect-ratio: 3/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    border-radius: map-get($ui, radius);
    filter: grayscale(70%);
    &:hover {
      transform: scale(1.05, 1.05);
      filter: grayscale(0%);
    }
  }
}

.cardItem {
  width: calc((100% - (40px * 1)) / 2);
  @include mq(tab) {
    margin-block-end: 50px;
    @include mq(sp) {
      width: 100%;
    }
  }
  &:last-child {
    margin-block-end: 0;
  }
  .infoTop {
    margin-block-end: 10px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    @include fontEn($size: 12px, $weight: 400);
  }
  .title {
    @include fontJp($size: 18px, $weight: 500);
  }
  .url {
    display: inline-block;
    @include fontEn($size: 10px, $weight: 400);
    margin-block-start: 10px;
    color: map-get($colors, white01);
  }
}
