@use 'variables.scss' as *;

.linkButton__text {
  display: inline-block;
  padding: 10px 40px;
  color: map-get($colors, white01);
  border-radius: map-get($ui, radius);
  background: linear-gradient(
    45deg,
    map-get($colors, orange01),
    map-get($colors, orange02) 100%
  );
  transition: 0.3s;
  position: relative;
  &::after {
    content: '';
    display: block;
    inset: 2px;
    position: absolute;
    border-radius: map-get($ui, radius);
    background: map-get($colors, navy02);
  }
  .jp {
    position: relative;
    z-index: 1;
  }
}
