@use 'variables.scss' as *;

.modalBg {
  position: fixed;
  width: 100vw;
  height: 100svh;
  top: 0;
  left: 0;
  background: map-get($colors, black02-transparent);
  z-index: 1;
  display: grid;
  place-items: center;
  .modalContent {
    width: min(90%, 800px);
    padding-block: 40px;
    min-width: 320px;
    background: map-get($colors, white01);
    color: map-get($colors, black01);
    border-radius: map-get($ui, radius);
    .modalDesc {
      width: min(100% - 40px, 720px);
      margin-inline: auto;
      @include fontEn($size: 16px);
    }
    .modalCloseButton {
      display: block;
      margin-inline: auto;
      padding-block: 4px;
      padding-inline: 20px;
      @include fontEn($size: 18px, $weight: 500);
      border-radius: map-get($ui, radius);
      background: map-get($colors, navy01);
      color: map-get($colors, white01);
    }
  }
}
